/* Make user icons smaller */
.c-message_kit__avatar, .c-message_kit__avatar img {
  height: 24px !important;
  width: 24px !important;;
}

/* Remove sender box from the flow of the chats, this allows it to be on the left side always while the chats are 120px to the right */
.c-message__sender {
  position: absolute;
  width: 120px;
  overflow: hidden;
  white-space: nowrap;
}

/* Remove timestamp, would be nice to have but no good spot for it yet... */
.c-timestamp {
  display: none;
}

.c-message_kit__gutter {
    padding: 2px 8px !important;
}

/* Use flex to get everything in a message to flow on the same line */
.c-message_kit__gutter__right {
    flex: 1 1 0;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

/* All message content pushes over 120 to give room for the message sender */
.c-message_kit__blocks, 
.c-files_container, 
.c-message__body, 
.c-message_kit__attachments,
.c-message_kit__text, 
.c-message__broadcast_preamble_outer  {
    margin-left: 120px !important;
}

.c-message_kit__reaction_bar {
    margin-left: 1rem !important;
}


/* Restore image preview size */
.c-files_container {
    display: block;
    width: 100%;
}
